<div class="col-md-6 col-xs-12 center-block">
  <h1>Edit Assessment</h1>

  <%= render 'form', assessment: @assessment %>

  <%= link_to 'Show', @assessment %> |
  <%= link_to 'Back', assessments_path %>
</div>