.assessments-list {
  list-style: none;
    padding-left: 0;
  li {
    font-size: 1.2em;
  }
  a {
    margin-right: 10px;
  }
}
.face-icon {
  /*color: #FFDF00;*/
  color: #444;
  font-size: 3em;
}
.mood-box {
  display: flex;
  justify-content: space-around;
}
.selected-face {
  color: #6ACEEC;
}
#show-assessment {
  i {
    font-size: 1.3em;
  }
  h5 {
    display: inline-block;
    color: #444;
    margin-right: 10px;
    font-weight: 700;
  }
  a.pencil {
    color: black;
    margin-right: 30px;
  }
  a.delete-button {
    color: red;
  }
}
#assessment-index {
  h1 {
    color: #444;
  }
}
.mood-for-index {
  margin-right: 15px;
}
