.welcome {
  input {
  text-align: center;
  }
  h1 {
  font-size: 2em;
  }
}
div.radio-buttons {
  display: inline-block;
  margin-left: 7%;
  margin-right: 7%;
}
.wide-submit {
  input {
    width: 100%;
  }
}
a {
  text-decoration: none;
}